.DS_Store
.Organizart/Organizart.xcodeproj/project.xcworkspace/xcuserdata/cynaracosta.xcuserdatad/UserInterfaceState.xcuserstate
.Organizart/Organizart.xcodeproj/xcuserdata/mccl.xcuserdatad/xcschemes/xcschememanagement.plist
